@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
  }
  
  body{
    background: #10316b;
    overflow: hidden;
    margin: 20px 50px 50px 50px;
  }

  header{
    text-align: center;
    color: #eac100;
  }
  
  .wrapper{
  
      max-width: 1000px;
      width: 100%;
      border-radius: 5px;
  }
  
  .wrapper header{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  
  }
  
  .wrapper nav{
  
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    
  
  }
  
  .wrapper nav label{
    height: 50%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #dee1ec;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease;
  }
  
  #transaction:checked ~ nav label.transaction{
    color: #fff;
  
  }
  
  .transaction{

cursor: pointer;
  }
  
  #message:checked ~ nav label.message{
    color: #fff;
  
  }
  
  
  #about:checked ~ nav label.about{
    color: #fff;
  
  }
  
  .wrapper nav .slider{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 2;
    top:25%;
    left: 5%;
    bottom: 0;
    transition: all 0.3s ease;
    color: #01c479;
  }
  
  #message:checked ~ nav .slider{
    left: 35%;
  
  }
  
  #about:checked ~ nav .slider{
    left: 69%;
    
  }
  
 
  
  input[type='radio']{
    display: none;
  }
  
  
  section .content {
    display: none;
  
  }

  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.validate-buttons,.send-buttons {
  position: relative;
  background-color: #0b409c;
  border: none;
  font-size: 15px;
  color: #dee1ec;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  border-radius: 12px;
  font-weight: 300;
}

.validate-buttons:after {
  content: "";
  background: #515351;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s

}

.validate-buttons:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

input[type=text], select {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.receiver_chat_add , .input-address{
  position: relative;
  display: none;
}

.App-body, .App  ,.input-amount, .input-send{

  position: relative;
  z-index: 2;
  width: 100%;

}

.messageInput {
  position: relative;
  height: 50px;
  max-width: 560px;
  background: #fff;
  width: 100%;
  padding: 1px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.messageInput input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  caret-color: #10316b;
  overflow: hidden;

}

.messageInput input:focus,
.messageInput input:valid{
  border-color: #10316b;
}

.messageInput input::placeholder{
  font-size: 15px;
  font-weight: 500;
}

.messageInput .characters{
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #01c479;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Darker background on mouse-over */
.btn:hover {
  color: #eac100;
}

.content-2{

  display: none;

}

.content-2.activecontent-2{

  display: block;

}

.content-1{

  display: none;

}

.content-1.activecontent-1{

  display: block;

}

.inner{
  position: relative;
  height: 40px;
  max-width: 560px;
  background: #fff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: center;
}